body {
    background-color: #f5f5f5;
}

#main-content {
    max-width: 940px;
    padding: 2em 3em;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#users_label {
    width: 200px;
    float: right;
    text-align: center;
    font-family: Calibri;
    font-weight: bolder;
    font-size: 20px;
    text-shadow: 0px 1px black;
    color: #1061ff;
    text-decoration: #0a274e;
    border: none;
}

#connected_users {
    overflow: scroll;
    height:200px;
    width: 200px;
    float: right;
    font-weight: bold;
    font-size: 14px;
    text-shadow: 0px 0px;
    color: black;
    background-color: #b5d6ff;
    border: 1px solid #0a274e;
}

#fullRoom {
    font-family: Calibri;
    font-weight: bolder;
    color: #464646;
    text-shadow: 0px 1px black;
}

#adminDiv{
    position: fixed;
    bottom: 100px;
    left: 100px;
    height:200px;
    width: 400px;
    border: 1px solid #0a274e;
}

#updateMessages{
    overflow: scroll;
    position: fixed;
    bottom: 50px;
    left: 50px;
    height:200px;
    width: 200px;
    border: 3px solid black;
    background-color: whitesmoke;
    color: black;
    font-family: Calibri;
    font-weight: bold;
    border-radius: 10px 4px;
    background-color: whitesmoke;
    box-shadow: 2px 3px #e0464e;
}

#playTable{
    border: 5px solid #005343;
    background-color: #18af7e;
    height: 350px;
}

.card_select{
    position: fixed;
    top:400px;
}

.card{
    margin-top: 20px;
    height:310px;
    width:200px;
    border: 2px solid black;
    border-radius: 50px 20px;
    background-color: whitesmoke;
    box-shadow: 2px 3px #e0464e;
    text-align: center;
    font-family: "AR CENA";
    font-weight: bolder;
    font-size: 30px;
}

#c1{
    position: fixed;
    left:120px;
}

#c1_select{
    left: 220px;
}

#c2{
    position: fixed;
    left:360px;
}

#c2_select{
    left: 460px;
}

#c3{
    position: fixed;
    left:600px;
}

#c3_select{
    left: 700px;
}

#c4{
    position: fixed;
    left:840px;
}

#c4_select{
    left: 940px;
}

#c5{
    position: fixed;
    left:1080px;
}

#c5_select{
    left: 1180px;
}

#swapCardsButton{
    font-weight: bolder;
    width: 100px;
    position: fixed;
    left: 650px;
    top: 450px;
    font-family: Calibri;
    background-color: rgba(191,196,188,0.96);
    border: 1px rgba(23,23,23,0.96);
}

#swapCardsButton:hover{
    background-color: rgba(222,222,222,0.96);
    border: 1px rgba(40,40,40,0.96);
}

#swapCardsButton:active{
    background-color: rgba(139,139,139,0.96);
    border: 1px rgba(23,23,23,0.96);
}

#rigfile{
    position: fixed;
    right:20px;
    bottom: 160px;
}

#upload{
    position: fixed;
    right:20px;
    bottom: 120px;
}

