<div id="playTable" hidden>
    <div id = "getSwapSelected">
    <input type="checkbox" id="c1_select" class="card_select" value="C1">
    <input type="checkbox" id="c2_select" class="card_select" value="C2">
    <input type="checkbox" id="c3_select" class="card_select" value="C3">
    <input type="checkbox" id="c4_select" class="card_select" value="C4">
    <input type="checkbox" id="c5_select" class="card_select" value="C5">
    </div>
    <div id="c1" class = "card">C1</div>
    <div id="c2" class = "card">C2</div>
    <div id="c3" class = "card">C3</div>
    <div id="c4" class = "card">C4</div>
    <div id="c5" class = "card">C5</div>
</div>
<div id = "updateMessages">::GAME UPDATE MESSAGES::</div>

<button id="swapCardsButton" type="submit">Swap Selected Cards</button>
